
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi olusturdugumuz view sayfası.</h3>    
 <table>    
     <tr>   
         <th>ID</th>
         <th>Ad</th>
         <th>Departman</th>
     </tr>
     <tr>  
         <td>3</td>   
         <td>Onur Mete</td>   
         <td>IT</td>   
     </tr>   
       <tr>  
         <td>2</td>   
         <td>Büşra</td>   
         <td>Muhasebe</td>   
     </tr>   
 </table>

@*Ctrl Shift W *@